.author-flex {
    display: flex;
    justify-content: space-between;
}

.more-info-text {
    color: white;
    font-size: 1.2rem;
}

.post-heading{
    text-transform: capitalize;
    text-decoration: underline;
    color: bisque;
}