
.single-page-post {
    margin-top: 5rem;
}


.singlePage__Links {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
            /* text-align: end;
            margin-right: 20px; */
}

.singlePage__Link{
        color: white;
        text-decoration: none;
}